:root {
    --color-bg-main:  #390945; 
    --color-bg-login-box: #FFFFFF; 
    --color-btn-bg: #46015d; 
    --color-text-btn: #FFFFFF;
    --color-input-border: #D3D3D3; 
    --color-text-main: #080808;
    --color-text-title-top: #FFFFFF; 
    --color-text-title-bottom: #FFFFFF;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg-main); 
    display: flex;
    justify-content: center; 
    align-items: center;  
    min-height: 100vh;
}

.login-section {
    background-color: var(--color-bg-login-box); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 40px; 
    box-shadow: 0 0 50px rgba(134, 115, 208, 0.2);
    border-radius: 20px;
}

.login-box {
    width: 90vh;
    max-width: 450px;
    text-align: center;
    border-radius: 20px;
}

.login-box h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-text-main);
    margin-bottom: 40px;
    text-align: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
#loginForm input {
    width: 100%;    /* Faz com que o campo ocupe toda a largura do formulário */
    padding: 12px;  /* Deixa o campo mais alto e confortável para digitar */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Essencial para o padding não "vazar" a largura */
}
input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid var(--color-input-border);
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

input::placeholder {
    color: #A9A9A9; 
    font-size: 0.9rem;
}

.mensagem-erro {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    height: 1.2em;
}

.input-error {
    border: 2px solid red !important;
}

.btn-login {
    background-color: var(--color-btn-bg);
    color: var(--color-text-btn);
    padding: 15px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.btn-login:hover {
    background-color: #272653; 
}

.signup-text {
    margin-top: 20px;
    font-size: 0.8rem;
    color: var(--color-text-main);
    text-align: center;
}

.signup-text a {
    color: var(--color-btn-bg); 
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}