.sidebar-container { 
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blueviolet;
    color: white;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}
.sidebar-header{
    padding: 0 15px 20px 15px;
    text-align: center;
}
.sidebar-nav ul {
    list-style: none;
    padding: 0;
}
.sidebar-nav ul li {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
}
.sidebar-nav ul li:hover {
    background-color: darkslateblue;
}
.content-area {
    margin-left: 250px;
    padding: 20px;
}