:root {
    --color-bg-main: #470a56; 
    --color-text-title-top: hsl(163, 52%, 59%); 
    --color-text-title-bottom: #67adb0; 
    --color-bg-login-box: #FFFFFF; 
    --color-btn-bg: #410c53; 
    --color-text-btn: #FFFFFF;
    --color-input-border: #D3D3D3; 
    --color-text-main: #000000;
}

* {
    box-sizing: border-box; /* p/ que o padding não aumente o tamanho dos elementos */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 900px; 
    height: 550px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
    background-color: var(--color-bg-login-box);
}

/* Inputs e Password  */
.input-group {
    margin-bottom: 5px; /* espaço entre cada bloco de campo */
    text-align: left;
}

.password-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 45px; /* espaço p/ icon do olhinho*/
}

.toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: var(--color-bg-main);
    font-size: 1.1rem;
    transition: color 0.3s;
    z-index: 10;
}

.toggle-password:hover {
    color: var(--color-text-title-bottom);
}

/* infos esquerda*/
.info-section {
    flex: 1; 
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 0.9;
    margin-bottom: 40px;
}

.title-top, .title-bottom {
    padding: 5px 15px;
    display: inline-block;
    letter-spacing: 2px;
    color: var(--color-bg-main);
}

.title-top { background-color: var(--color-text-title-top); }
.title-bottom { background-color: var(--color-text-title-bottom); }

.task-icon {
    font-size: 10rem;
    color: white; 
    margin-top: 20px;
}

/* Formulários (Direita) */
.login-section {
    flex: 1; 
    background-color: var(--color-bg-login-box);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-box {
    width: 100%;
    max-width: 350px;
}

.login-box h2 {
    font-size: 1.5rem;
    color: var(--color-text-main);
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-input-border);
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.btn-login {
    background-color: var(--color-btn-bg);
    color: var(--color-text-btn); 
    padding: 12px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-login:hover {
    background-color: #272653;
}

/* p/ quando o body tiver a classe de login, esconda a seção de cadastro */
body.sign-in-js .content-signup {
    display: none;
}

/* p/ quando o body tiver a classe de cadastro, esconda a seção de login */
body.sign-up-js .content-login {
    display: none;
}

/* mensagens de erro e sucesso do JS */
.mensagem-erro {
    font-size: 0.8rem;
    margin-top: 2px;
    min-height: 1rem; /* p/ o layout não pular quando o erro aparece */
}

.mensagem-sucesso {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Alternância (Cadastre-se / Login) */
.signup-text {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}

.signup-text a {
    color: var(--color-bg-main);
    font-weight: bold;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}