:root {
    --color-bg-main:  #470a56; 
    --color-text-title-top: hsl(163, 52%, 59%); 
    --color-text-title-bottom: #67adb0; 
    --color-bg-login-box: #FFFFFF; 
    --color-btn-bg: #410c53; 
    --color-text-btn: #FFFFFF;
    --color-input-border: #D3D3D3; 
    --color-text-main: #000000;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 900px; 
    height: 550px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.info-section {
    flex: 1; 
    background-color: var(--color-bg-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    line-height: 0.9;
    margin-bottom: 50px;
}

.title-top {
    color: var(--color-text-title-top);
    background-color: var(--color-text-title-top); 
    color: var(--color-bg-main);
    padding: 5px 15px;
    display: inline-block;
    letter-spacing: 2px;
}

.title-bottom {
    color: var(--color-text-title-bottom);
    background-color: var(--color-text-title-bottom);
    color: var(--color-bg-main);
    padding: 5px 15px;
    display: inline-block;
    letter-spacing: 2px;
}

.task-icon {
    font-size: 10rem;
    color: white; 
    margin-top: 20px;
    
    text-shadow: 
        -2px -2px 0 var(--color-bg-main),  
        2px -2px 0 var(--color-bg-main),
        -2px 2px 0 var(--color-bg-main),
        2px 2px 0 var(--color-bg-main),
        0 0 0 white, 
        0 0 0 var(--color-bg-main);
    
}


.login-section {
    flex: 1; 
    background-color: var(--color-bg-login-box);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    border-radius: 20px;
}

.login-box h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-text-main);
    margin-bottom: 30px;
    text-align: left;
}


#loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 50px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--color-input-border);
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 8px;
}

input::placeholder {
    color: #A9A9A9; 
    font-size: 0.9rem;
}


.btn-login {
    background-color: var(--color-btn-bg);
    color: var(--color-text-btn);
    padding: 15px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.btn-login:hover {
    background-color: #272653; 
}


.signup-text {
    margin-top: 20px;
    font-size: 0.8rem;
    color: var(--color-text-main);
    text-align: center;
}

.signup-text a {
    color: var(--color-btn-bg); 
    text-decoration: none;
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .info-section {
        padding: 40px 20px;
        height: auto;
    }

    .title {
        font-size: 2.5rem;
    }

    .task-icon {
        font-size: 7rem;
        margin-bottom: 20px;
    }

    .login-section {
        padding: 40px 20px;
    }

    .login-box h2 {
        text-align: center;
    }
}